@import "../styles/tokens.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--aivent-bg);
  color: var(--aivent-text);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

